@use 'sass:math';
@use 'sass:color';

@use './hypermd-theme.scss' as *;
@use '../../base/cm-theme.scss' as *;

.cm-s-hypermd-light {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;

  %monospace {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  }

  //------------------------------------------------------------------

  line-height: $line-height;
  font-size: $fs;
  background: $editor-background;
  color: $editor-color;

  /// CodeMirror

  .cm-header,
  .cm-strong {
    font-weight: 600;
  }
  span.cm-quote {
    color: $quote-color;
  }
  span.cm-meta {
    color: $cm-meta-color;
  }
  span.cm-keyword {
    line-height: 1em;
    font-weight: bold;
    color: $cm-keyword-color;
  }
  span.cm-atom {
    color: $cm-atom-color;
  }
  span.cm-number {
    color: $cm-number-color;
  }
  span.cm-def {
    color: $cm-def-color;
  }
  span.cm-variable {
    color: $cm-variable-color;
  }
  span.cm-variable-2 {
    color: $cm-variable-2-color;
  }
  span.cm-variable-3 {
    color: $cm-variable-3-color;
  }
  span.cm-property {
    color: $cm-property-color;
  }
  span.cm-operator {
    color: $cm-operator-color;
  }
  span.cm-comment {
    color: $cm-comment-color;
  }
  span.cm-string {
    color: $cm-string-color;
  }
  span.cm-string-2 {
    color: $cm-string2-color;
  }
  span.cm-qualifier {
    color: $cm-qualifier-color;
  }
  span.cm-builtin {
    color: $cm-builtin-color;
  }
  span.cm-bracket {
    color: $cm-bracket-color;
  }
  span.cm-tag {
    color: $cm-tag-color;
  }
  span.cm-attribute {
    color: $cm-attribute-color;
  }
  span.cm-url {
    color: $link-url-color;
  }
  span.cm-link {
    color: $link-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  span.cm-error {
    color: $cm-error-color;
  }
  span.cm-math {
    @extend %monospace;
    font-style: italic;
    background: $cm-math-bg;
  }
  span.cm-formatting-math {
    color: $cm-formatting-math-color;
    font-weight: inherit;
  }

  .CodeMirror-cursor {
    border-left: 1px solid $cm-cursor;
  }

  .CodeMirror-selected {
    background: $cm-selected-bg !important;
  }

  .CodeMirror-activeline-background {
    background: transparent;
  }
  .CodeMirror-matchingbracket {
    outline: 1px solid grey;
    color: $cm-matchingbracket-color !important;
  }

  .CodeMirror-foldmarker {
    color: $cm-foldmarker-color;
    text-shadow: none;
    font-family: $font-family;
    line-height: 0.3;
    cursor: pointer;
  }

  .CodeMirror-foldmarker:hover {
    color: $cm-foldmarker-hover-color;
  }

  .CodeMirror-linenumber {
    color: $cm-linenumber-color;
  }
  .CodeMirror-gutters {
    background-color: $cm-gutters-bg-color;
    border-right: $line-margin solid $editor-background;
    border-width: $cm-gutters-border-width;
    padding-right: 5px;
    color: $cm-gutters-color;
    font-size: $cm-gutters-font-size;
  }
  .CodeMirror-line {
    padding: 0 $line-padding;
  }
  .CodeMirror-code {
    padding-right: $line-margin;
  }
  .CodeMirror-foldmarker {
    display: inline-block;
    vertical-align: middle;
  }

  /// Formatting Tokens, use monospace chars
  span {
    &.cm-formatting-em,
    &.cm-formatting-strong,
    &.cm-formatting-strikethrough,
    &.cm-formatting-code,
    &.cm-formatting-link,
    &.cm-formatting-image,
    &.cm-url {
      @extend %monospace;
    }
  }

  /// TOC
  span.cm-hmd-toc {
    font-size: $fs * 2;
    color: $toc-color;
  }

  /// OrgMode
  span.cm-hmd-orgmode-markup {
    @extend %monospace;
  }

  /// Front Matter
  span.cm-hmd-frontmatter {
    @extend %monospace;
  }

  /// Headers
  // in fact stdheader has no special meaning; they are just normal headers
  // legacy naming problem

  %hmd-stdheader-with-line {
    &:after {
      display: block;
      content: ' ';
      margin-top: 2px;
      height: 1px;
      background: $header-bottom-line-background;
    }
  }

  pre.HyperMD-header {
    // see https://github.com/laobubu/HyperMD/issues/25
    line-height: $line-height !important;
    font-family: inherit !important;
    padding-left: $line-padding !important;
    margin-left: 0 !important;
    border-left: 0 !important;
    padding-bottom: 0.25em;
    > span > span:first-child {
      margin-left: 0 !important;
    }

    .cm-formatting-header-1,
    .cm-formatting-header-2,
    .cm-formatting-header-3,
    .cm-formatting-header-4,
    .cm-formatting-header-5,
    .cm-formatting-header-6 {
      color: $cm-formatting-header-color;
    }

    &.HyperMD-header-1 {
      font-weight: 600;
      font-size: $fs * 2;
    }
    &.HyperMD-header-2 {
      font-weight: 600;
      font-size: $fs * 1.5;
    }
    &.HyperMD-header-3 {
      font-size: $fs * 1.2;
    }

    &.HyperMD-header-1,
    &.HyperMD-header-2 {
      @extend %hmd-stdheader-with-line;
    }
  }

  pre.HyperMD-header-line {
    @extend %hmd-stdheader-with-line;
    color: rgba(#000, 0.3);
    line-height: 8px;
  }

  /// Horizontal Rule
  pre.HyperMD-hr {
    @extend %monospace;
    background-color: $hr-bg-color-hover;
  }

  div.HyperMD-hr-bg {
    left: $line-padding - $hr-padding;
    right: $line-padding - $hr-padding;
    background: $hr-bg-color repeat-x 0px center;
  }

  /// blockquote

  // 引用

  pre.HyperMD-quote {
    &:before {
      content: ' ';
      position: absolute;
      left: $quote-margin;
      top: 0;
      height: 100%;
      background: $quote-background;
      background-size: $quote-padding 1px;
    }
  }
  @for $i from 1 through 9 {
    pre.HyperMD-quote-#{$i} {
      $padding-left: $quote-margin + ($quote-padding) * ($i);
      padding-left: $line-padding + $padding-left;

      &:before {
        width: $quote-padding * $i;
      }

      &.HyperMD-footnote {
        padding-left: $line-padding + $padding-left + $footnote-padding;
      }

      span.cm-formatting-quote {
        transform: translateZ(0); // avoid getting covered by pre:before
        display: inline-block;
        width: $quote-padding;
        &:first-child {
          margin-left: -$quote-padding * $i;
        }
      }
    }
  }

  span.cm-hmd-indent-in-quote {
    @extend %monospace;
  }

  /// list

  span.cm-hmd-list-indent {
    display: inline-block;
    width: $list-indent;
    text-align: right;
    white-space: pre;
    box-sizing: border-box;
    border-right: 1px dashed $list-indent-border-color;
    overflow: hidden;
    font-size: 0.5em;
    line-height: 200%;
  }

  pre.HyperMD-list-line {
    padding-top: $list-margin-after-line;
    min-height: #{$line-height}em;

    span.cm-formatting-list {
      font-family: $font-family;
      text-shadow: none;
    }

    span.cm-formatting-list,
    span.cm-hmd-list-indent {
      text-align: right;
      white-space: pre;
      width: $list-bullet-width;
      float: left;
    }

    span.cm-hmd-list-indent {
      margin-left: -$list-indent - $list-bullet-width;
    }

    &.HyperMD-list-line-nobullet {
      padding-top: initial;
      span.cm-hmd-list-indent {
        margin-left: -$list-bullet-width;
      }
    }
  }

  @for $i from 1 through 9 {
    $indent_i: $list-indent * $i + $list-margin;

    pre.HyperMD-list-line-#{$i} {
      padding-left: $line-padding + $indent_i;
    }
  }

  span.cm-formatting-list {
    margin-left: -$list-bullet-width;
    color: $list-color-1;
    &.cm-list-2 {
      color: $list-color-2;
    }
  }

  /// todo list

  span.cm-formatting-task // task list checkbox
  {
    @extend %monospace;
    white-space: pre;
    display: inline-block;
    height: 1em;
    line-height: 1em;
    min-width: 1em;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 3px;
    cursor: pointer;

    &.cm-property {
      // checked
      background: $todo-list-checked-img no-repeat center center;
      background-color: $todo-list-checked-bg-color;

      // mask-image: $todo-list-checked-img;
      // -webkit-mask-image: $todo-list-checked-img;

      // mask-repeat: no-repeat;
      // -webkit-mask-repeat: no-repeat;

      // mask-position: center;
      // -webkit-mask-position: center;

      // mask-size: contain;
      // -webkit-mask-size: contain;
    }

    color: $todo-list-formatting-color;

    background-image: none;
    box-shadow: $todo-list-box-shadow;
    height: $todo-list-size;
    width: $todo-list-size;
    border-radius: $todo-list-border-radius;
  }

  /// footnote for link and image
  // note: footnote can be inside a blockquote
  pre.HyperMD-footnote {
    font-size: $fs * 0.85;
    padding-left: $line-padding + $footnote-padding;

    > span > span:first-child {
      margin-left: -$footnote-padding;
    }

    span.cm-hmd-footnote {
      color: $footnote-color;
      cursor: text;
      text-decoration: none;
    }
  }

  /// code block

  // pre.hmd-codeblock-start,
  // pre.hmd-codeblock-end
  // {

  // }
  pre.HyperMD-codeblock {
    @extend %monospace;
    line-height: 1.2;
    color: $code-block-language-color;

    // &.hmd-codeblock-indent {
    span.cm-inline-code {
      display: inherit;
      background-color: inherit;
      border: inherit;
      padding: inherit;
      font-size: inherit;
    }
  }

  // note: this is a background style
  div.HyperMD-codeblock-bg {
    left: $line-padding - $codeblock-padding;
    right: $line-padding - $codeblock-padding;
    background-color: $code-block-bg-color;
    border-left: $codeblock-border;
    border-right: $codeblock-border;
  }

  div.HyperMD-codeblock-begin-bg {
    border-top: $codeblock-border;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  div.HyperMD-codeblock-end-bg {
    border-bottom: $codeblock-border;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  div.HyperMD-codeblock-begin-bg,
  div.HyperMD-codeblock-end-bg {
    background-color: $code-block-bg-color;
  }

  /// link

  .cm-formatting-link + .cm-formatting-link-string,
  .cm-formatting-link + .cm-formatting-link-string + .cm-url,
  .cm-formatting-link + .cm-formatting-link-string + .cm-url + .cm-formatting-link-string,
  .cm-formatting-link + .cm-formatting-link-string + .cm-url + .cm-link,
  .cm-formatting-link
    + .cm-formatting-link-string
    + .cm-url
    + .cm-link
    + .cm-formatting-link-string {
    display: inline-block;
    font-size: 0.85em;
    vertical-align: text-top;
  }

  // change cursor for links if modifier keys pressed
  &.HyperMD-with-alt,
  &.HyperMD-with-ctrl {
    span.cm-url,
    span.cm-link,
    .cm-link + .CodeMirror-widget,
    span.cm-hashtag {
      cursor: pointer;
    }
  }

  span.hmd-link-icon {
    background: none; // $link-img no-repeat center center;
    background-color: $link-img-color;

    mask-image: $link-img;
    -webkit-mask-image: $link-img;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    mask-position: center;
    -webkit-mask-position: center;

    mask-size: contain;
    -webkit-mask-size: contain;

    width: 20px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.4;
    margin-bottom: 1px;
    &:hover {
      opacity: 1;
    }
    &:after {
      content: ''; //remove default stuff
    }
  }

  /// image

  img.hmd-image {
    vertical-align: middle;
    width: auto;
    max-width: 100%;
    height: auto;
    &.hmd-image-loading,
    &.hmd-image-error {
      min-width: 24px;
      min-height: 24px;
      background: $img-error-bg no-repeat center center;
    }
    &.hmd-image-error {
      background-color: $img-error-bg;
    }
    &.hmd-image-error:hover {
      background-color: $img-error-bg-hover;
    }
  }

  /// math blocks

  span.hmd-fold-math-placeholder {
    // when math is not fully rendered. a placeholder with raw Tex expression is presented
    @extend .cm-math;
  }

  span.cm-math-2 {
    font-size: 1.1 * $fs;
  }

  /// other Markdown stuff

  span.cm-hmd-escape-backslash {
    color: #caa;
  }
  span.cm-hmd-escape-char {
    color: #666;
  }

  /// inline-code

  span.cm-inline-code {
    @extend %monospace;
    color: $inline-code-color;
    font-size: 90%;

    &:not(.cm-formatting):not(.cm-hmd-indented-code) {
      background-color: $inline-code-bg-color;
      border-radius: 4px;
      vertical-align: baseline;
      border: $inline-code-border-color solid 1px;
      padding: 1px 0.4em;
    }

    &.hmd-hidden-token {
      font-size: 0;
    }
  }

  // footref
  span.cm-hmd-footref {
    display: inline-block;
    font-size: 0.7em;
    vertical-align: text-top;
    background-color: $footref-bg-color;
    color: $footref-color;
    margin-top: -0.2em;
  }

  /// hyperMD stuff

  /// hashtag

  span.cm-hashtag {
    background-color: $hashtag-bg;
    color: $hashtag-color;
    font-size: $hashtag-fontsize;
    display: inline-block;
    vertical-align: middle;
    padding-top: $hashtag-padding-y;
    padding-bottom: $hashtag-padding-y;

    &.cm-hashtag-begin {
      padding-left: $hashtag-padding-x;
      border-radius: $hashtag-radius 0 0 $hashtag-radius;
    }

    &.cm-hashtag-end {
      padding-right: $hashtag-padding-x;
      border-radius: 0 $hashtag-radius $hashtag-radius 0;
    }

    &.cm-hmd-escape-backslash {
      color: $hashtag-backslash-color;
    }
  }

  span.cm-formatting-hashtag {
    @extend %monospace;
    color: $hashtag-formatting-color;
  }

  /// hypermd/addon/insert-file

  .hmd-file-uploading {
    outline: 2px dashed #ccc;
    outline-offset: -2px;
    animation: hmd-file-uploading-ani 1.5s linear infinite;
  }

  @keyframes hmd-file-uploading-ani {
    0%,
    100% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.7;
    }
  }

  .hmd-file-uploaded {
    outline: 2px solid #6c3;
    outline-offset: -2px;
  }

  /// hypermd/addon/click

  .HyperMD-goback {
    width: 1px;
  }
  div.HyperMD-goback-button {
    padding-right: 15px; // not less than .CodeMirror-gutters padding-right
    border-radius: 0 10px 10px 0;
    display: inline-block;
    text-align: center;
    background-color: color.scale(#c04068, $lightness: 20%);
    color: #f7f7f7;
    cursor: pointer;
    &:hover {
      color: transparent;
      text-align: left;
      &:before {
        position: absolute;
        padding-left: 5px;
        content: 'Back';
        color: #f7f7f7;
      }
    }
  }

  /// hpyermd table

  pre.HyperMD-table-row {
    > span {
      display: inline-block;
      border-top: $table-border-style;
      margin-right: 30px + $line-margin * 2; // leave space for hscroller
    }

    &.HyperMD-table-row-0,
    &.HyperMD-table-row-1,
    &.HyperMD-table-row-2 {
      > span {
        border-top: 0;
      }
    }

    span.cm-hmd-table-sep {
      @extend %monospace;
      width: $table-sep-width;
      text-align: center;
      box-sizing: content-box;
      font-weight: normal;

      &.cm-hmd-table-sep-dummy {
        width: 1em;
      }

      &:before {
        content: '|';
        color: transparent;
        top: 0;
        height: 100%;
        position: absolute;
        // border-left: $table-border-style;
        background: url(#{$table-sep-image}) repeat-y center 0px;
        pointer-events: none;
      }
    }

    &.HyperMD-table-row-0 {
      // title row
      font-weight: 600;
      span.cm-strong {
        font-weight: 800;
      }
    }

    .hmd-table-column-content {
      // do NOT delete padding, otherwise measuring will be inaccurate!
      // something about layout Grid and Block Formatting Contexts
      padding: math.div($table-row1-height, 2) 1px;
    }

    &.HyperMD-table-row-1 {
      // :----: | :-----: | dash line
      line-height: $table-row1-height;

      > span {
        border-bottom: 0;
      }
      .hmd-table-column-content {
        padding: 1px;
      }
    }

    &.HyperMD-table-row-0 {
      > span {
        border-bottom: 0;
      }
      span.hmd-table-column-content {
        padding-bottom: 1px;
      }
    }

    &.HyperMD-table-row-2 {
      span.hmd-table-column-content {
        padding-top: 1px;
      }
    }
  }

  /// hypermd/addon/hover

  &.CodeMirror div.HyperMD-hover {
    > .HyperMD-hover-content {
      background-color: $addon-hover-content-bg;
      color: $addon-hover-content-color;
      border: 0;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 95%;
      min-width: 200px;
      a {
        color: inherit;
      }
      p {
        margin: 0.2em 0;
      }
      code {
        @extend %monospace;
        display: inline-block;
        font-size: 0.87em;
        border: 1px solid $addon-hover-content-code-border-color;
        border-radius: 5px;
        padding: 0px 4px;
      }
    }
    > .HyperMD-hover-indicator {
      content: ' ';
      display: block;
      width: 0px;
      margin-bottom: -5px;
      border: 5px solid transparent;
      border-top-color: $addon-hover-content-bg;
      border-top-color: rgba($addon-hover-content-bg, 0.7);
    }
  }

  /// fold-html

  .hmd-fold-html-stub {
    @extend %monospace;
    display: inline-block;
    font-size: 67%;
    color: $fold-html-color;
    vertical-align: middle;
    border: 1px solid $fold-html-border-color;
    padding: 0 0.2em;
    border-radius: 5px;
    margin: 0 0.5em;
    background: $fold-html-bg;
    cursor: pointer;

    &.omittable {
      display: none;
    }

    &:hover,
    &.highlight {
      // for non-inline HTML stub. Remind user where the stub is.
      color: $fold-html-color-hover;
      border-color: $fold-html-border-color-hover;
      background: $fold-html-bg-hover;
    }
  }

  .hmd-fold-html {
    position: relative;
    border: 1px solid $fold-html-block-kbd-border-color-outside;

    &:hover {
      border: 1px dashed $fold-html-block-kbd-border-color-hover;

      .hmd-fold-html-stub.omittable {
        display: block;
        right: 0;
        bottom: 100%;
        margin: 0;
        position: absolute;
        z-index: 100;
      }
    }
  }

  .CodeMirror-linewidget,
  .hmd-fold-html {
    table {
      border-collapse: collapse;
      td,
      th {
        padding: 10px;
        border: 1px solid $fold-html-block-border;
      }
    }

    kbd {
      @extend %monospace;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      font-family: var(--default-font-family);
      font-weight: 400;
      vertical-align: text-top;
      white-space: nowrap;
      -webkit-user-select: none;
      user-select: none;
      position: relative;
      top: -0.03em;
      font-size: 0.75em;
      min-width: 1.75em;
      line-height: 1.7em;
      box-sizing: border-box;
      padding-left: 0.5em;
      padding-right: 0.5em;
      padding-bottom: 0.05em;
      word-spacing: -0.1em;
      border-radius: calc(var(--radius-factor) * 0.35em);
      letter-spacing: var(--letter-spacing, var(--default-letter-spacing));
      height: fit-content;
      color: $fold-html-block-kbd-color;
      background-color: $fold-html-block-kbd-bg;
      box-shadow: var(--kbd-box-shadow);
    }

    a > img {
      border: 0;
    }
  }

  /// fold-code

  .hmd-fold-code-stub {
    @extend .hmd-fold-html-stub;
  }

  .hmd-fold-code-image {
    text-align: center;
  }

  /// deal with floating elements

  pre.HyperMD-header,
  pre.HyperMD-footnote,
  pre.HyperMD-codeblock,
  pre.HyperMD-hr {
    clear: left;
  }

  /// hide-token
  span.hmd-hidden-token {
    &.cm-formatting-task {
      color: transparent !important;
    }
  }

  pre.hmd-inactive-line {
    // background: aqua;  // just for debug

    &.HyperMD-table-row-1 {
      // table line |:--------:|:-------:|
      color: transparent;
      text-shadow: none;
    }

    &.HyperMD-hr {
      color: $hr-color;
      background-color: transparent;
    }

    &.HyperMD-table-row-1 > span {
      background: $editor-color repeat-x 0px center;
    }

    &.HyperMD-table-row {
      span.cm-hmd-table-sep {
        color: transparent;
        &.cm-hmd-table-sep-dummy:before {
          display: none;
        }
      }
    }

    span.cm-formatting-quote {
      color: transparent;
    }

    span.cm-hmd-escape-backslash,
    span.cm-formatting-header {
      font-size: 0 !important;
      display: inline;
    }

    span.cm-hmd-list-indent {
      border-right: 0;
    }
  }
}
