@use './theme.scss';

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 90vh;
  overflow: auto;
}

#root {
  margin-top: 56px;
  width: 100%;
  background-color: var(--color-background);
  color: var(--text-color);
}
