.desktopLayoutTitle {
  width: 100%;
}
.desktopLayoutContent {
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
}

.desktopLayoutContentActivityBar {
  height: 100%;
}

.desktopLayoutContentSidebar {
  height: 100%;
}

.desktopLayoutContentContent {
  height: 100%;
}

.desktopLayoutContentAssistSideBar {
  height: 100%;
}

.desktopLayoutStatusBar {
  width: 100%;
}
