@use '../../../styles/index.scss';

.title {
  @extend %window-title-drag;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  overflow: visible;
}

.titleTop {
  margin: 0;
  width: 100%;
  overflow-y: overlay;
  overflow-x: hidden;
}

.titltTop::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(0, 0, 0, 0.473);
  border-radius: 3px;
}

.titleTabRoot {
  width: 100%;
  justify-content: center;
  overflow: visible;
}

.titleTabList {
  @extend %window-title-no-drag;
  height: 100%;
  width: 80%;
  align-items: center;
  gap: 2px;
}

.titleTabItem {
  @extend %window-title-no-drag;
  width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.titleBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: visible;
}

.titleBottomItem {
  @extend %window-title-no-drag;
}
