@use '../../../styles/index.scss';

.title {
  @extend %window-title-drag;
  height: 100%;
  // width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-background);
  overflow: visible;
  border-right: 1px solid var(--gray-6);
}

.titleTop {
  margin: 0;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 2px;
}

:global(.windows) {
  .titleTop::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.titleTabRoot {
  @extend %window-title-no-drag;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.titleTabItem {
  @extend %window-title-no-drag;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: center;
}
.titleTabItem span {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.titleBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: visible;
  margin-bottom: 4px;
}

.titleBottomItem {
  @extend %window-title-no-drag;
  width: 40px;
  height: 40px;
  padding: 0;
  align-items: center;
  justify-content: center;
}
