@use '../../../styles/index.scss';

:root {
  --activity-bar-bottom-height: 60px;
}

.title {
  @extend %window-title-drag;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.titleTop {
  margin: 0;
  height: calc(100% - var(--activity-bar-bottom-height));
  width: 100%;
  overflow: auto;
}

.titleBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  height: var(--activity-bar-bottom-height);
}

.titleTabRoot {
  height: 100%;
  width: 100%;
}

.titleTabList {
  height: 100%;
  width: 100%;
}

.titleTabItem {
  @extend %window-title-no-drag;
}

.titleTabIcon {
  @extend %window-title-no-drag;
}
