.vditor {
  width: 100% !important;
  height: 100% !important;
  border: none;
}

.vditor-toolbar {
  border: 0;
}

.vditor-reset {
  background-color: var(--color-background) !important;
}

.md-vditor-preview-wrap {
  width: 100%;
  height: 100%;
  padding: 14px var(--editor-wrap-padding) var(--editor-wrap-padding) 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  .md-vditor-preview-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .vditor-reset {
      overflow: visible;
    }
  }
}
