$content-top-toolbar-height: 50px;

.indexRoot {
  width: 100%;
  height: 100%;
}

.indexContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.indexContentEditor {
  width: 100%;
  height: calc(100% - $content-top-toolbar-height);
  flex-grow: 1;
}

.indexContentTopToolbar {
  height: $content-top-toolbar-height;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  margin: 0 20px 0 10px;
  justify-content: space-between;
  gap: 10px;
  -webkit-user-select: none;
  user-select: none;
}

.indexContentTopToolbarCommon {
  display: flex;
  flex-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
  flex-direction: row;
}

.indexContentTopToolbarLeft {
  @extend .indexContentTopToolbarCommon;
  gap: 15px;
}

.indexContentTopToolbarCenter {
  @extend .indexContentTopToolbarCommon;
  flex-shrink: 1;
  min-width: 0;
}

.indexContentTopToolbarRight {
  @extend .indexContentTopToolbarCommon;
  gap: 15px;
}

.indexContentTopToolbarRightBtn {
  width: 18px;
  height: 18px;
  padding: 6px;
}
.indexContentTopToolbarRightBtn svg {
  width: 18px;
  height: 18px;
}
