.cm6-theme {
  .ͼ1 .cm-lineNumbers .cm-gutterElement {
    // padding-top: 2px;
    min-width: 40px;
  }
  // 行号
  .cm-gutters {
    color: var(--gray-10) !important;
    // font-size: var(--font-size-1);
    border-width: 0 !important;
  }
  .cm-scroller {
    justify-content: start;
    outline: none;
  }

  .cm-editor {
    --cm-editor-wrap-padding: 20px;
    --cm-editor-primary-color: var(--accent-a5, '#4a90e2');
    height: 100%;
    padding: var(--cm-editor-wrap-padding);
    outline: 0 !important;
    -webkit-user-select: auto;
    user-select: auto;
  }

  .cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground,
  .cm-selectionBackground,
  .cm-content ::selection {
    background-color: var(--cm-editor-primary-color) !important;
  }

  .cm-focused {
    box-shadow: 0 0 0 0 !important;
  }
}

.dark {
  .cm-gutters {
    background-color: #1e1e1e !important;
  }
}

.light {
  .cm-gutters {
    background-color: #ffffff !important;
  }
}
