.cm6-theme {
  .cm-editor {
    --cm-editor-primary-color: var(--accent-a5, '#4a90e2');
    background-color: var(--color-background);

    height: 100%;
    padding: 0 5px 0 20px;
    outline: 0 !important;
    -webkit-user-select: auto;
    user-select: auto;

    .cm-scroller {
      justify-content: start;
      outline: none;

      .cm-content {
        --purrmd-primary-color: var(--accent-9);
        --formatting-color: var(--purrmd-primary-color);
      }

      // 行号
      .cm-gutters {
        background-color: var(--color-background);
        color: var(--gray-10) !important;
        // font-size: var(--font-size-1);
        border-width: 0 !important;

        .cm-lineNumbers {
          .cm-gutterElement {
            // padding-top: 2px;
            min-width: 40px;
          }
        }
      }
    }
  }

  .cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground,
  .cm-selectionBackground,
  .cm-content ::selection {
    background-color: var(--cm-editor-primary-color) !important;
  }

  .cm-focused {
    box-shadow: 0 0 0 0 !important;
  }
}
