@use 'sass:math';
@use 'sass:color';

.CodeMirror {
  width: 100%;
  height: 100%;
}

.CodeMirror-gutters {
  background-color: transparent !important;
  color: var(--gray-10) !important;
  font-size: var(--font-size-1);
  border-width: 0 !important;
}

.cm-s-hypermd-light {
  // 编辑器背景颜色
  $editor-background: var(--color-background);
  // 编辑器字体颜色
  $editor-color: var(--gray-12);

  // 默认的字体大小
  $fs: 12pt; //default font-size

  $line-height: 1.5;
  $line-margin: 10px;
  $line-padding: 5px;

  $footnote-padding: 40px;

  $quote-margin: 2px;
  $quote-padding: 20px;

  $list-margin: 10px;
  $list-indent: 30px;
  $list-bullet-width: 30px;
  $list-margin-after-line: 0.3em;

  // 表格线的颜色
  $table-border-style: 1px solid var(--gray-6);
  $table-row1-height: 8px;
  $table-sep-width: 15px;
  $table-sep-image: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mOc+R8AAjcBmvywMWoAAAAASUVORK5CYII=';
  $table-row-1-image: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAQAAAAziH6sAAAADklEQVR42mOc+Z9x5n8ACTkDM4ikM1IAAAAASUVORK5CYII=';

  // 代码块
  $codeblock-border: 0px solid var(--gray-6);
  $codeblock-padding: 5px;

  $hashtag-fontsize: 0.84em;
  $hashtag-padding-x: 6px;
  $hashtag-padding-y: 0.1em;
  $hashtag-radius: 8px;

  $hr-image: $table-row-1-image;
  $hr-padding: 5px;

  font-family:
    -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', Helvetica, Arial,
    'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Noto Sans CJK SC', 'Microsoft YaHei', STHeiti,
    'Microsoft Jhenghei', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;

  %monospace {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  }

  //------------------------------------------------------------------

  line-height: $line-height;
  font-size: $fs;
  background: $editor-background;
  color: $editor-color;

  /// CodeMirror

  .cm-header,
  .cm-strong {
    font-weight: 600;
  }
  span.cm-quote {
    color: #666;
  }
  span.cm-meta {
    color: #ff1717;
  }
  span.cm-keyword {
    line-height: 1em;
    font-weight: bold;
    color: #7f0055;
  }
  span.cm-atom {
    color: #219;
  }
  span.cm-number {
    color: #164;
  }
  span.cm-def {
    color: #00f;
  }
  span.cm-variable {
    color: black;
  }
  span.cm-variable-2 {
    color: #0000c0;
  }
  span.cm-variable-3 {
    color: #0000c0;
  }
  span.cm-property {
    color: black;
  }
  span.cm-operator {
    color: black;
  }
  span.cm-comment {
    color: #4f9f5f;
  }
  span.cm-string {
    color: #2a00ff;
  }
  span.cm-string-2 {
    color: #f50;
  }
  span.cm-qualifier {
    color: #555;
  }
  span.cm-builtin {
    color: #30a;
  }
  span.cm-bracket {
    color: #cc7;
  }
  span.cm-tag {
    color: #170;
  }
  span.cm-attribute {
    color: #00c;
  }
  span.cm-url {
    color: #4af;
  }
  span.cm-link {
    color: #4078c0;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  span.cm-error {
    color: #f00;
  }
  span.cm-math {
    @extend %monospace;
    font-style: italic;
    background: rgba(#ffe, 0.4);
  }
  span.cm-formatting-math {
    color: #caa;
    font-weight: inherit;
  }

  .CodeMirror-activeline-background {
    background: #e8f2ff;
  }
  .CodeMirror-matchingbracket {
    outline: 1px solid grey;
    color: black !important;
  }

  .CodeMirror-linenumber {
    color: #ccc;
  }
  .CodeMirror-gutters {
    border-right: $line-margin solid $editor-background;
    padding-right: 5px;
  }
  .CodeMirror-line {
    padding: 0 $line-padding;
  }
  .CodeMirror-code {
    padding-right: $line-margin;
  }
  .CodeMirror-foldmarker {
    display: inline-block;
    vertical-align: middle;
  }

  /// Formatting Tokens, use monospace chars
  span {
    &.cm-formatting-em,
    &.cm-formatting-strong,
    &.cm-formatting-strikethrough,
    &.cm-formatting-code,
    &.cm-formatting-link,
    &.cm-formatting-image,
    &.cm-url {
      @extend %monospace;
    }
  }

  /// TOC
  span.cm-hmd-toc {
    font-size: $fs * 2;
    color: var(--gray-6);
  }

  /// OrgMode
  span.cm-hmd-orgmode-markup {
    @extend %monospace;
  }

  /// Front Matter
  span.cm-hmd-frontmatter {
    @extend %monospace;
  }

  /// Headers
  // in fact stdheader has no special meaning; they are just normal headers
  // legacy naming problem

  %hmd-stdheader-with-line {
    &:after {
      display: block;
      content: ' ';
      margin-top: 2px;
      height: 1px;
      background: var(--gray-6);
    }
  }

  pre.HyperMD-header {
    // see https://github.com/laobubu/HyperMD/issues/25
    line-height: $line-height !important;
    font-family: inherit !important;
    padding-left: $line-padding !important;
    margin-left: 0 !important;
    border-left: 0 !important;
    padding-bottom: 0.25em;
    > span > span:first-child {
      margin-left: 0 !important;
    }

    &.HyperMD-header-1 {
      font-weight: 600;
      font-size: $fs * 2;
    }
    &.HyperMD-header-2 {
      font-weight: 600;
      font-size: $fs * 1.5;
    }
    &.HyperMD-header-3 {
      font-size: $fs * 1.2;
    }

    &.HyperMD-header-1,
    &.HyperMD-header-2 {
      @extend %hmd-stdheader-with-line;
    }
  }

  pre.HyperMD-header-line {
    @extend %hmd-stdheader-with-line;
    color: rgba(#000, 0.3);
    line-height: 8px;
  }

  /// Horizontal Rule

  // hr的背景
  $hr-bg-color: $editor-background;
  $hr-bg-color-hover: var(--gray-10);
  // hr的颜色
  $hr-color: var(--gray-12);

  pre.HyperMD-hr {
    @extend %monospace;
    background-color: $hr-bg-color-hover;
  }

  div.HyperMD-hr-bg {
    left: $line-padding - $hr-padding;
    right: $line-padding - $hr-padding;
    background: $hr-bg-color repeat-x 0px center;
  }

  /// blockquote

  // 引用

  pre.HyperMD-quote {
    &:before {
      content: ' ';
      position: absolute;
      left: $quote-margin;
      top: 0;
      height: 100%;
      background: url('data:image/gif;base64,R0lGODlhIAABAIABAOjo6P///yH5BAEAAAEALAAAAAAgAAEAAAIHhI8Yy+1cAAA7')
        0 0;
      background-size: $quote-padding 1px;
    }
  }
  @for $i from 1 through 9 {
    pre.HyperMD-quote-#{$i} {
      $padding-left: $quote-margin + ($quote-padding) * ($i);
      padding-left: $line-padding + $padding-left;

      &:before {
        width: $quote-padding * $i;
      }

      &.HyperMD-footnote {
        padding-left: $line-padding + $padding-left + $footnote-padding;
      }

      span.cm-formatting-quote {
        transform: translateZ(0); // avoid getting covered by pre:before
        display: inline-block;
        width: $quote-padding;
        &:first-child {
          margin-left: -$quote-padding * $i;
        }
      }
    }
  }

  span.cm-hmd-indent-in-quote {
    @extend %monospace;
  }

  /// list
  // list 虚线颜色
  $list-indent-border-color: var(--gray-6);

  // 一级list颜色
  $list-color-1: var(--gray-6);
  // 二级list颜色
  $list-color-2: var(--gray-6);

  span.cm-hmd-list-indent {
    display: inline-block;
    width: $list-indent;
    text-align: right;
    white-space: pre;
    box-sizing: border-box;
    border-right: 1px dashed $list-indent-border-color;
    overflow: hidden;
    font-size: 0.5em;
    line-height: 200%;
  }

  pre.HyperMD-list-line {
    padding-top: $list-margin-after-line;
    min-height: #{$line-height}em;

    span.cm-formatting-list,
    span.cm-hmd-list-indent {
      text-align: right;
      white-space: pre;
      width: $list-bullet-width;
      float: left;
    }

    span.cm-hmd-list-indent {
      margin-left: -$list-indent - $list-bullet-width;
    }

    &.HyperMD-list-line-nobullet {
      padding-top: initial;
      span.cm-hmd-list-indent {
        margin-left: -$list-bullet-width;
      }
    }
  }

  @for $i from 1 through 9 {
    $indent_i: $list-indent * $i + $list-margin;

    pre.HyperMD-list-line-#{$i} {
      padding-left: $line-padding + $indent_i;
    }
  }

  span.cm-formatting-list {
    margin-left: -$list-bullet-width;
    color: $list-color-1;
    &.cm-list-2 {
      color: $list-color-2;
    }
  }

  /// todo list

  // todo list的 [x] 的语法颜色
  $todo-list-formatting-color: transparent;

  span.cm-formatting-task // task list checkbox
  {
    @extend %monospace;
    white-space: pre;
    display: inline-block;
    height: 1em;
    line-height: 1em;
    min-width: 1em;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center 0;
    cursor: pointer;

    &.cm-property {
      // checked
      // background-position-y: -1em;
      background-image: none;
      background-color: var(--accent-indicator);
    }

    color: $todo-list-formatting-color;

    background-image: none;
    box-shadow: inset 0 0 0 1px var(--gray-a7);
    height: var(--space-4);
    width: var(--space-4);
    border-radius: var(--radius-1);
  }

  /// footnote for link and image
  // note: footnote can be inside a blockquote
  pre.HyperMD-footnote {
    font-size: $fs * 0.85;
    padding-left: $line-padding + $footnote-padding;

    > span > span:first-child {
      margin-left: -$footnote-padding;
    }

    span.cm-hmd-footnote {
      color: #666;
      cursor: text;
      text-decoration: none;
    }
  }

  /// code block

  // 代码块的语言名称color
  $code-block-language-color: var(--accent-10);
  // 代码块背景颜色
  $code-block-bg-color: var(--gray-3);

  // pre.hmd-codeblock-start,
  // pre.hmd-codeblock-end
  // {

  // }
  pre.HyperMD-codeblock {
    @extend %monospace;
    line-height: 1.2;
    color: $code-block-language-color;

    // &.hmd-codeblock-indent {
    span.cm-inline-code {
      display: inherit;
      background-color: inherit;
      border: inherit;
      padding: inherit;
      font-size: inherit;
    }
  }

  // note: this is a background style
  div.HyperMD-codeblock-bg {
    left: $line-padding - $codeblock-padding;
    right: $line-padding - $codeblock-padding;
    background-color: $code-block-bg-color;
    border-left: $codeblock-border;
    border-right: $codeblock-border;
  }

  div.HyperMD-codeblock-begin-bg {
    border-top: $codeblock-border;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  div.HyperMD-codeblock-end-bg {
    border-bottom: $codeblock-border;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  div.HyperMD-codeblock-begin-bg,
  div.HyperMD-codeblock-end-bg {
    background-color: $code-block-bg-color;
  }

  /// link
  $link-img: var(--accent-9); // link右侧的图片

  .cm-formatting-link + .cm-formatting-link-string,
  .cm-formatting-link + .cm-formatting-link-string + .cm-url,
  .cm-formatting-link + .cm-formatting-link-string + .cm-url + .cm-formatting-link-string,
  .cm-formatting-link + .cm-formatting-link-string + .cm-url + .cm-link,
  .cm-formatting-link
    + .cm-formatting-link-string
    + .cm-url
    + .cm-link
    + .cm-formatting-link-string {
    display: inline-block;
    font-size: 0.85em;
    vertical-align: text-top;
  }

  // change cursor for links if modifier keys pressed
  &.HyperMD-with-alt,
  &.HyperMD-with-ctrl {
    span.cm-url,
    span.cm-link,
    .cm-link + .CodeMirror-widget,
    span.cm-hashtag {
      cursor: pointer;
    }
  }

  span.hmd-link-icon {
    background: $link-img no-repeat center center;
    width: 20px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
    &:after {
      content: ''; //remove default stuff
    }
  }

  /// image

  // image加载error的背景
  $img-error-bg: var(--gray-4);
  $img-error-bg-hover: var(--gray-6);

  img.hmd-image {
    vertical-align: middle;
    width: auto;
    max-width: 100%;
    height: auto;
    &.hmd-image-loading,
    &.hmd-image-error {
      min-width: 24px;
      min-height: 24px;
      background: $img-error-bg no-repeat center center;
    }
    &.hmd-image-error {
      background-color: $img-error-bg;
    }
    &.hmd-image-error:hover {
      background-color: $img-error-bg-hover;
    }
  }

  /// math blocks

  span.hmd-fold-math-placeholder {
    // when math is not fully rendered. a placeholder with raw Tex expression is presented
    @extend .cm-math;
  }

  span.cm-math-2 {
    font-size: 1.1 * $fs;
  }

  /// other Markdown stuff

  span.cm-hmd-escape-backslash {
    color: #caa;
  }
  span.cm-hmd-escape-char {
    color: #666;
  }

  /// inline-code

  // 内联代码的背景颜色
  $inline-code-bg-color: var(--gray-4);
  // 内联代码的边框颜色
  $inline-code-border-color: var(--gray-4);
  // 内联代码的颜色
  $inline-code-color: var(--gray-12);

  span.cm-inline-code {
    @extend %monospace;
    color: $inline-code-color;
    font-size: 90%;

    &:not(.cm-formatting):not(.cm-hmd-indented-code) {
      background-color: $inline-code-bg-color;
      border-radius: 4px;
      vertical-align: baseline;
      border: $inline-code-border-color solid 1px;
      padding: 1px 0.4em;
    }

    &.hmd-hidden-token {
      font-size: 0;
    }
  }

  // footref 背景颜色
  $footref-bg-color: $inline-code-bg-color;
  $footref-color: var(--gray-11);
  span.cm-hmd-footref {
    display: inline-block;
    font-size: 0.7em;
    vertical-align: text-top;
    background-color: $footref-bg-color;
    color: $footref-color;
    margin-top: -0.2em;
  }

  /// hyperMD stuff

  /// hashtag

  // hashtag的背景
  $hashtag-bg: var(--accent-9);
  // hashtag的颜色
  $hashtag-color: var(--accent-contrast);
  // hashtag的反斜杠颜色
  $hashtag-backslash-color: var(--accent-contrast);
  // hashtag的#号颜色
  $hashtag-formatting-color: var(--accent-contrast);

  span.cm-hashtag {
    background-color: $hashtag-bg;
    color: $hashtag-color;
    font-size: $hashtag-fontsize;
    display: inline-block;
    vertical-align: middle;
    padding-top: $hashtag-padding-y;
    padding-bottom: $hashtag-padding-y;

    &.cm-hashtag-begin {
      padding-left: $hashtag-padding-x;
      border-radius: $hashtag-radius 0 0 $hashtag-radius;
    }

    &.cm-hashtag-end {
      padding-right: $hashtag-padding-x;
      border-radius: 0 $hashtag-radius $hashtag-radius 0;
    }

    &.cm-hmd-escape-backslash {
      color: $hashtag-backslash-color;
    }
  }

  span.cm-formatting-hashtag {
    @extend %monospace;
    color: $hashtag-formatting-color;
  }

  /// hypermd/addon/insert-file

  .hmd-file-uploading {
    outline: 2px dashed #ccc;
    outline-offset: -2px;
    animation: hmd-file-uploading-ani 1.5s linear infinite;
  }

  @keyframes hmd-file-uploading-ani {
    0%,
    100% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.7;
    }
  }

  .hmd-file-uploaded {
    outline: 2px solid #6c3;
    outline-offset: -2px;
  }

  /// hypermd/addon/click

  .HyperMD-goback {
    width: 1px;
  }
  div.HyperMD-goback-button {
    padding-right: 15px; // not less than .CodeMirror-gutters padding-right
    border-radius: 0 10px 10px 0;
    display: inline-block;
    text-align: center;
    background-color: color.scale(#4078c0, $lightness: 20%);
    color: #f7f7f7;
    cursor: pointer;
    &:hover {
      color: transparent;
      text-align: left;
      &:before {
        position: absolute;
        padding-left: 5px;
        content: 'Back';
        color: #f7f7f7;
      }
    }
  }

  /// hpyermd table

  pre.HyperMD-table-row {
    > span {
      display: inline-block;
      border-top: $table-border-style;
      margin-right: 30px + $line-margin * 2; // leave space for hscroller
    }

    &.HyperMD-table-row-0,
    &.HyperMD-table-row-1,
    &.HyperMD-table-row-2 {
      > span {
        border-top: 0;
      }
    }

    span.cm-hmd-table-sep {
      @extend %monospace;
      width: $table-sep-width;
      text-align: center;
      box-sizing: content-box;
      font-weight: normal;

      &.cm-hmd-table-sep-dummy {
        width: 1em;
      }

      &:before {
        content: '|';
        color: transparent;
        top: 0;
        height: 100%;
        position: absolute;
        // border-left: $table-border-style;
        background: url(#{$table-sep-image}) repeat-y center 0px;
        pointer-events: none;
      }
    }

    &.HyperMD-table-row-0 {
      // title row
      font-weight: 600;
      span.cm-strong {
        font-weight: 800;
      }
    }

    .hmd-table-column-content {
      // do NOT delete padding, otherwise measuring will be inaccurate!
      // something about layout Grid and Block Formatting Contexts
      padding: math.div($table-row1-height, 2) 1px;
    }

    &.HyperMD-table-row-1 {
      // :----: | :-----: | dash line
      line-height: $table-row1-height;

      > span {
        border-bottom: 0;
      }
      .hmd-table-column-content {
        padding: 1px;
      }
    }

    &.HyperMD-table-row-0 {
      > span {
        border-bottom: 0;
      }
      span.hmd-table-column-content {
        padding-bottom: 1px;
      }
    }

    &.HyperMD-table-row-2 {
      span.hmd-table-column-content {
        padding-top: 1px;
      }
    }
  }

  /// hypermd/addon/hover

  // 附加的悬浮框的背景颜色
  $addon-hover-content-bg: var(--gray-12);
  // 附加的悬浮框的字体颜色
  $addon-hover-content-color: var(--gray-1);
  // 附加的悬浮框中的code的边框颜色
  $addon-hover-content-code-border-color: var(--gray-1);

  &.CodeMirror div.HyperMD-hover {
    > .HyperMD-hover-content {
      background-color: $addon-hover-content-bg;
      color: $addon-hover-content-color;
      border: 0;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 95%;
      min-width: 200px;
      a {
        color: inherit;
      }
      p {
        margin: 0.2em 0;
      }
      code {
        @extend %monospace;
        display: inline-block;
        font-size: 0.87em;
        border: 1px solid $addon-hover-content-code-border-color;
        border-radius: 5px;
        padding: 0px 4px;
      }
    }
    > .HyperMD-hover-indicator {
      content: ' ';
      display: block;
      width: 0px;
      margin-bottom: -5px;
      border: 5px solid transparent;
      border-top-color: $addon-hover-content-bg;
      border-top-color: rgba($addon-hover-content-bg, 0.7);
    }
  }

  /// fold-html

  /// 按钮
  // 折叠的html按钮的边框颜色
  $fold-html-border-color: var(--gray-12);
  // 折叠的html按钮的背景颜色
  $fold-html-bg: var(--gray-2);
  // 折叠的html按钮的字体颜色
  $fold-html-color: var(--gray-12);

  /// 按钮 悬浮
  // 折叠的html按钮的边框颜色 hover
  $fold-html-border-color-hover: var(--accent-10);
  // 折叠的html按钮的背景颜色 hover
  $fold-html-bg-hover: var(--accent-10);
  // 折叠的html按钮的字体颜色 hover
  $fold-html-color-hover: var(--accent-contrast);

  // 块
  // 折叠的html块的边框颜色
  $fold-html-block-border: var(--gray-10);

  /// kbd
  /// // 折叠的html块的kbd的边框颜色 外侧
  $fold-html-block-kbd-border-color-outside: transparent;
  // 折叠的html块的kbd的边框颜色
  $fold-html-block-kbd-border-color: var(--gray-6);
  // 折叠的html块的kbd的边框颜色 hover
  $fold-html-block-kbd-border-color-hover: var(--accent-10);

  // 折叠的html块的kbd的背景颜色
  $fold-html-block-kbd-bg: var(--accent-9);
  // 折叠的html块的kbd的颜色
  $fold-html-block-kbd-color: var(--accent-contrast);

  .hmd-fold-html-stub {
    @extend %monospace;
    display: inline-block;
    font-size: 67%;
    color: $fold-html-color;
    vertical-align: middle;
    border: 1px solid $fold-html-border-color;
    padding: 0 0.2em;
    border-radius: 5px;
    margin: 0 0.5em;
    background: $fold-html-bg;
    cursor: pointer;

    &.omittable {
      display: none;
    }

    &:hover,
    &.highlight {
      // for non-inline HTML stub. Remind user where the stub is.
      color: $fold-html-color-hover;
      border-color: $fold-html-border-color-hover;
      background: $fold-html-bg-hover;
    }
  }

  .hmd-fold-html {
    position: relative;
    border: 1px solid $fold-html-block-kbd-border-color-outside;

    &:hover {
      border: 1px dashed $fold-html-block-kbd-border-color-hover;

      .hmd-fold-html-stub.omittable {
        display: block;
        right: 0;
        bottom: 100%;
        margin: 0;
        position: absolute;
        z-index: 100;
      }
    }
  }

  .CodeMirror-linewidget,
  .hmd-fold-html {
    table {
      border-collapse: collapse;
      td,
      th {
        padding: 10px;
        border: 1px solid $fold-html-block-border;
      }
    }

    kbd {
      @extend %monospace;
      display: inline-block;
      padding: 3px 5px;
      font-size: 90%;
      line-height: 1em;
      background-color: $fold-html-block-kbd-bg;
      border: solid 1px $fold-html-block-kbd-border-color;
      color: $fold-html-block-kbd-color;
      box-shadow: none;
      // border-bottom-color: rgb(198, 203, 209);
      // border-bottom-color: #959da5;
      // border-radius: 3px;
      // vertical-align: baseline;
    }

    a > img {
      border: 0;
    }
  }

  /// fold-code

  .hmd-fold-code-stub {
    @extend .hmd-fold-html-stub;
  }

  .hmd-fold-code-image {
    text-align: center;
  }

  /// deal with floating elements

  pre.HyperMD-header,
  pre.HyperMD-footnote,
  pre.HyperMD-codeblock,
  pre.HyperMD-hr {
    clear: left;
  }

  /// hide-token
  span.hmd-hidden-token {
    &.cm-formatting-task {
      color: transparent !important;
    }
  }

  pre.hmd-inactive-line {
    // background: aqua;  // just for debug

    &.HyperMD-table-row-1 {
      // table line |:--------:|:-------:|
      color: transparent;
      text-shadow: none;
    }

    &.HyperMD-hr {
      color: $hr-color;
      background-color: transparent;
    }

    &.HyperMD-table-row-1 > span {
      background: $editor-color repeat-x 0px center;
    }

    &.HyperMD-table-row {
      span.cm-hmd-table-sep {
        color: transparent;
        &.cm-hmd-table-sep-dummy:before {
          display: none;
        }
      }
    }

    span.cm-formatting-quote {
      color: transparent;
    }

    span.cm-hmd-escape-backslash,
    span.cm-formatting-header {
      font-size: 0 !important;
      display: inline;
    }

    span.cm-hmd-list-indent {
      border-right: 0;
    }
  }
}
