body.android {
  #cm-root {
    .cm-editor {
      height: 100%;
      overflow: unset;
    }
  }
}

#cm-root {
  // background-color: var(--cm-background-color);
  background-color: transparent;
  width: 100%;

  .cm-editor {
    // background-color: var(--cm-background-color);
    background-color: transparent;
    overflow: visible;

    --cm-editor-wrap-padding-x: 4px;
    --cm-editor-wrap-padding-y: 4px;
    --cm-editor-primary-color: var(--accent-a5, '#4a90e2');

    --cm-editor-content-padding-left: 18px;
    --cm-editor-content-padding-right: 20px;

    height: 100%;
    padding: var(--cm-editor-wrap-padding-y) var(--cm-editor-wrap-padding-x);

    outline: 0 !important;
    -webkit-user-select: auto;
    user-select: auto;

    .cm-scroller {
      justify-content: start;
      overflow: visible;
      outline: none;

      .cm-content {
        padding: 0 0px var(--bottom-safe-height) 0px;

        .cm-line {
          padding: 0 var(--cm-editor-content-padding-right) 0 var(--cm-editor-content-padding-left);
        }
      }

      // 行号
      .cm-gutters {
        color: var(--gray-10) !important;
        border-width: 0 !important;
        // font-size: var(--font-size-1);
        // background-color: var(--cm-background-color) !important;
        // background-color: transparent !important;

        .cm-lineNumbers .cm-gutterElement {
          -webkit-user-select: none;
          user-select: none;
        }
        .cm-foldGutter .cm-gutterElement {
          padding-left: 5px;
          -webkit-user-select: none;
          user-select: none;
        }
      }
    }
  }

  .cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground,
  .cm-selectionBackground,
  .cm-content ::selection {
    background-color: var(--cm-editor-primary-color) !important;
  }

  .cm-focused {
    box-shadow: 0 0 0 0 !important;
    // animation: blink_input_opacity_to_prevent_scrolling_when_focus 0.01s;
  }
}

.dark {
  .cm-gutters {
    background-color: black;
  }
}

.light {
  .cm-gutters {
    background-color: #ffffff;
  }
}
