#root {
  --cm-root-padding: 12px;
}

#cm-root.source-mode-show-line {
  padding: 0 var(--cm-root-padding) 0 0;
}

// @keyframes blink_input_opacity_to_prevent_scrolling_when_focus {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

#cm-root {
  // background-color: var(--cm-background-color);
  background-color: transparent;

  padding: 0 var(--cm-root-padding);
  width: calc(100% - calc(var(--cm-root-padding) * 2)) !important;

  .cm-editor {
    // background-color: var(--cm-background-color);
    background-color: transparent;
    overflow: visible;

    --cm-editor-wrap-padding: 4px;
    --cm-editor-primary-color: var(--accent-a5, '#4a90e2');
    height: 100%;
    padding: var(--cm-editor-wrap-padding);
    outline: 0 !important;
    -webkit-user-select: auto;
    user-select: auto;

    .cm-scroller {
      justify-content: start;
      overflow: visible;
      outline: none;

      .cm-content {
        padding: 0 0px var(--bottom-safe-height) 0px;
      }

      // 行号
      .cm-gutters {
        color: var(--gray-10) !important;
        border-width: 0 !important;
        // font-size: var(--font-size-1);
        // background-color: var(--cm-background-color) !important;
        // background-color: transparent !important;

        .cm-lineNumbers .cm-gutterElement {
          // padding-top: 2px;
          min-width: 40px;
        }
      }
    }
  }

  .cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground,
  .cm-selectionBackground,
  .cm-content ::selection {
    background-color: var(--cm-editor-primary-color) !important;
  }

  .cm-focused {
    box-shadow: 0 0 0 0 !important;
    // animation: blink_input_opacity_to_prevent_scrolling_when_focus 0.01s;
  }
}

.dark {
  .cm-gutters {
    background-color: black;
  }
}

.light {
  .cm-gutters {
    background-color: #ffffff;
  }
}
