#md-root {
  .milkdown {
    width: 100%;
    height: 100%;
    // overflow: visible;
    overflow-y: visible;
    box-sizing: border-box;
    background-color: transparent;

    .cm-gutters {
      color: var(--gray-10) !important;
    }
    .ProseMirror {
      box-sizing: border-box;
      padding: 0px 20px var(--bottom-safe-height) 20px;
    }
  }
}
