.milkdown {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding-bottom: var(--bottom-safe-height);

  .cm-gutters {
    color: var(--gray-10) !important;
  }
  .ProseMirror {
    padding: 0px 20px;
  }
}
