.settings {
  width: 100%;
  height: 100%;
}

.settingsTabs {
  height: 100%;
  width: 100%;
}

.settingsTabsTriggerList {
  width: 180px;
}

.settingsContentWrap {
  width: 100%;
}

.settingsContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.globalSettings {
  @extend .settingsContent;
}

.workspaceSettings {
  @extend .settingsContent;
}

.appearanceSettings {
  @extend .settingsContent;
}

.rowSettings {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}

.rowSettingsLeft {
  width: 50%;
}

.rowSettingsRight {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
