.sidebar {
  height: 100%;
  width: calc(100% - 1px);
  border-right: 1px solid var(--gray-6);
  padding: 0px;
  -webkit-user-select: none;
  user-select: none;
  display: none;
}

:global(.contentSidebar):global(.split-view-view-visible) .sidebar {
  display: block;
}
