.title {
  width: 100%;
  height: calc(100% - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  border-bottom: 1px solid var(--gray-6);
  -webkit-user-select: none;
  user-select: none;
}
