body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  position: fixed;
}

img {
  -webkit-user-select: none;
  user-select: none;
}

#root {
  --toastify-z-index: 999999999;
  height: 100%;
  width: 100%;
  overflow: visible;
  background-color: var(--color-background);
}

:root {
  // --focus-border: var(--accent-11);
  --separator-border: #00000000;
}

[data-is-root-theme] {
  --focus-border: var(--accent-11);
}

.window-title-no-drag {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}

.window-title-drag {
  -webkit-app-region: drag;
  app-region: drag;
}

%window-title-no-drag {
  @extend .window-title-no-drag;
}

%window-title-drag {
  @extend .window-title-drag;
}

.no-select {
  -webkit-user-select: none;
  user-select: none;
}

.spinner-wrap-class {
  --spinner-opacity: 0.6;
  z-index: 9998;
  position: absolute;
  inset: 0;
  pointer-events: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(from var(--color-background) r g b / var(--spinner-opacity));
}
