body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  position: fixed;
}

img {
  user-drag: none; /* 禁止拖拽 (WebKit 特性) */
  -webkit-user-drag: none; /* 禁止拖拽 (Chrome, Safari) */
}

#root {
  height: 100%;
  width: 100%;
  overflow: visible;
  -webkit-user-select: none;
  user-select: none;
}

:root {
  --focus-border: var(--chakra-colors-color-palette-focus-ring);
  --separator-border: var(--chakra-colors-border);
}

.window-title-no-drag {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}

.window-title-drag {
  -webkit-app-region: drag;
  app-region: drag;
}

%window-title-no-drag {
  @extend .window-title-no-drag;
}

%window-title-drag {
  @extend .window-title-drag;
}
