.explorer {
  width: 100%;
  height: 100%;
}

.noWorkspace {
  padding: 0px;
}

.handleButtonList {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.handleButton {
  width: 300px;
  min-width: auto;
  max-width: 100%;
}

.textNoWrap {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.workspaceExplorer {
  @extend .textNoWrap;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.workspaceExplorerTitle {
  @extend .textNoWrap;
  align-content: center;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  height: 30px;
}

.workspaceExplorerTree {
  width: 100%;
  height: 100%;
}

.workspaceExplorerItem {
  @extend .textNoWrap;
  overflow: hidden;
}
