.cm-editor {
  height: 100%;
  padding: 4px;
  outline: 0 !important;
}

.cm-scroller {
  justify-content: center;
}

.cm-content {
  max-width: 80%;
}

// 行号
.cm-gutters {
  background-color: transparent !important;
  color: var(--gray-10) !important;
  font-size: var(--font-size-1);
  border-width: 0 !important;
}
.ͼ1 .cm-lineNumbers .cm-gutterElement {
  padding-top: 2px;
}
