// @use './base/cm6-theme.scss';

.cm-editor {
  height: 100%;
  padding: var(--editor-wrap-padding);
  outline: 0 !important;
  -webkit-user-select: auto;
  user-select: auto;
}

.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground,
.cm-selectionBackground,
.cm-content ::selection {
  background-color: var(--accent-a5) !important;
}

.cm-scroller {
  justify-content: center;
}
