.workspaceManager {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
  padding: 10px 0px;
}

.workspaceManagerTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

.workspaceRow {
  margin: 0px;
  padding: 10px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.workspaceRowLeft {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: calc(100% - 100px);
}

.workspaceRowRight {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.workspaceName {
  margin: 0;
  padding: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.workspaceLastOpenTime {
  width: 180px;
  font-size: 12px;
}

.workspacePath {
  margin: 0;
  padding: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
