// #region cm
// 选中文本的背景
$cm-selected-bg: var(--accent-a5);
// 光标颜色
$cm-cursor: var(--gray-12);
// 展开按钮的颜色
$cm-foldmarker-color: var(--accent-9);
$cm-foldmarker-hover-color: var(--accent-11);

// header的 # 号的颜色
$cm-formatting-header-color: var(--gray-10);

// 行号背景配置
$cm-gutters-bg-color: transparent;
$cm-gutters-color: var(--gray-10);
$cm-gutters-font-size: var(--font-size-1);
$cm-gutters-border-width: 0;

// 行号字体的颜色
$cm-linenumber-color: var(--gray-11);
// 关键字颜色
$cm-keyword-color: var(--pink-10);
//
$cm-atom-color: var(--blue-10);
// 定义时的变量颜色
$cm-def-color: var(--gray-12);
// 变量颜色, Class颜色
$cm-variable-color: var(--pink-10);
$cm-variable-2-color: var(--pink-11);
$cm-variable-3-color: var(--pink-12);
// 属性颜色, 方法颜色
$cm-property-color: var(--blue-10);
// 注释颜色
$cm-comment-color: var(--green-10);
// 数字颜色
$cm-number-color: var(--gray-12);
// 操作符颜色
$cm-operator-color: var(--gray-12);
// 字符串颜色
$cm-string-color: var(--bronze-11);
// 字符串颜色2
$cm-string2-color: var(--bronze-12);
// html标签颜色
$cm-tag-color: var(--pink-10);
// html标签的attribute颜色
$cm-attribute-color: var(--blue-9);
// js中...操作符的颜色
$cm-meta-color: var(--gray-12);
// 错误的颜色
$cm-error-color: var(--red-9);
// css类名颜色
$cm-qualifier-color: var(--pink-10);
// 内置函数, 关键字颜色
$cm-builtin-color: var(--pink-10);

// 不知道哪里的颜色, 括号似乎未生效
$cm-matchingbracket-color: var(--gray-12);
$cm-bracket-color: var(--gray-12);
// #endregion
