/out
/dist
/public
/build

node_modules

.idea
.DS_Store

.gitignore
.gitattributes

LICENSE.md
tsconfig.json
tsconfig.*.json
package-lock.json
pnpm-lock.yaml
pnpm-lock.json

../rust/

/rust/.build-cache/
/rust/android/
/rust/cpp/
/rust/crates/
/rust/dist/
/rust/ios/
/rust/targets/
/rust/package.json
/rust/package-lock.json

/patches/

/src-tauri/

/src/uniwind-types.d.ts

*.rs
*.yaml
